* {
  font-family: "poppins";
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mainboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.2rem;
  background-color: black;
  padding: 0.2rem;
}

.cell {
  background-color: white;
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  transition: all 0.5s;
}

.pre-animation {
  color: white;
}

.cell:hover {
  background-color: aliceblue;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 20%;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
