* {
  font-family: "poppins";
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mainboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  background-color: rgb(32, 33, 36);
  padding: 0.8rem;
  border-radius: 10px;
}

.cell {
  background-color: #3b3b3b;
  border-radius: 2px;
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  transition: all 0.3s;
}

.pre-animation {
  color: white;
}

.cell:hover {
  background-color: rgb(95, 99, 104);
}

.red {
  color: rgb(245, 164, 59);
}

.blue {
  color: rgb(138, 180, 248);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 20%;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
